<p> Login Page </p>

<form action='/profile' method='POST'>
  Email:<br>
  <input type='text' name='email'>
  <br>Password:<br>
  <input type='password' name='password'>
  <input type='submit' name='Login'>
</form>
