<p> This is the login page </p>

<form action='/login' method="POST">
  Username:<br>
  <input type='text' name='username'>
  <br> Password:<br>
  <input type='password' name='password'>
  <input type='submit' name='Login'>
</form>
