<p> This is the sign up page </p>


<form action='/signup' method="POST">
  Username:<br>
  <input type='text' name='username'>
  <br> Password:<br>
  <input type='password' name='password'>
  <input type='submit' name='Login'>
</form>
